<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Basics | Register</title>
</head>
<body>
    <h1 class="login-title">Login</h1>
    <form>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Your Email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your passsword">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>