<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Basics | Register</title>
</head>
<body>
    <h1 class="login-title">Register</h1>
    <form action = "/register" method = "POST">
        <div>
            <label for="username">Name</label>
            <input type="text" name="username" id="name" placeholder="Your Name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Your Email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your passsword">
        </div>
        <div>
            <label for="C_password">Confirm Password</label>
            <input type="password" name="C_password" id="C_assword" placeholder="Confirm your passsword">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>