<!DOCTYPE html>
<html lang="en">

<%- include ( 'Partials/Header.ejs' ) %>

<title>Fest 2021 | Home</title>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style = "margin-left: 0px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-6">
            <h1>Fest 2021</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <div>
            <a href= "/login" type="submit" class="btn btn-primary btn-block">Log In</a>
        </div>
        <br>
        <div>
            <a href= "/register" type="submit" class="btn btn-primary btn-block">Register</a>
        </div>
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <!-- /Footer -->
  <%- include ( 'Partials/Footer.ejs' ) %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</body>
</html>
